<html>
    <body>
        <form action="/produtos2" method="post">
            <div>
                <label for="titulo">Título</label>
                <input type="text" id="titulo" name="titulo" placeholder="Informe o titulo do Livro"/>
            </div>
            <input type="submit" value="Deletar"/>
        </form>
    </body>
</html>